*{
  margin: 0;
  padding: 0;
}

.container {
  min-width: 280px;
  height: fit-content;
  color: aliceblue;
  background-color: #212121;
  padding: 1.5rem;
}

.title {
  font-size: 18px;
  font-weight: 500;
  padding: 8px;
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}

.bookmarks {
  padding: 3px;
}

.bookmark {
  color: rgba(255, 255, 255, 0.738);
  background-color: #2b2b2b;
  display: flex;
  align-items: center;
  box-shadow: #ffffff70 1px 2px 1px;
  border-radius: 8px;
  padding: 3px; 
  padding-bottom: 7px;
  margin-bottom: 7px;
  height: 2rem;
  padding-left: 8px;
}

.bookmark-title {
  padding-left: 2px;
}

.bookmark-controls img {
  margin: 0 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.bookmark-controls {
  flex: auto;
  text-align: right;
}
